.playbackbanner-container:after {
    content: "TS:158.69.106.44:10513 ";
    border: 2px solid #1da281;
    content: "Tema criado por Depys";
    background: rgba(0,0,0,0.50);
    width: 500px;
    padding: 6px;
    border-radius: 20px;
}

#dj-button:after {
    border: 2px solid #1da281;
    content: "O tema está na verão final!"; 
    text-transform: uppercase;
    background: rgba(0,0,0,0.50);
    padding: 10px;
    border-radius: 20px;
}


#user-lists .list.staff .group {
    position: relative;
    display: none;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 1px solid #282c35;
    border-bottom: 1px solid #1c1f25;
    background: #111317;
}
#waitlist .list .user {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 41px;
    background: transparent;
}

#room .app-right {
    background: rgba(0,0,0,0.80);
}

#chat .cm:nth-child(2n+1) {
    background: transparent;
}

#dj-button {
    position: absolute;
    top: 450px;
    height: 61px;
    padding: 5px;
    border: 1px solid;
    width: 230px;
    border-radius: 20px;
    background: rgba(0,0,0,0.70);
    cursor: pointer;
    line-height: 59px;
    z-index: 8;
}

#dj-button .left {
    background: rgba(53, 150, 214, 0.50);
    position: absolute;
    left: 0;
    border-radius: 20px 0px 0px 20px;
    top: 0;
    width: 72px;
    height: 100%;
}

#dj-button .left {
    background: rgba(53, 150, 214, 0.50);
    position: absolute;
    left: 0;
    border-radius: 20px 0px 0px 20px;
    top: 0;
    width: 72px;
    height: 100%;
}


#room-settings .general-settings {
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
}

#room-settings {
    z-index: 600;
    display: none;
    background: rgba(0,0,0,0.80);
}

#room-settings-menu {
    display: none;
}

#room-settings .general-settings .option button.off {
    margin-left: 10px;
    border: 1px solid;
    margin: 1px;
    border-radius: 20px;
    background: rgba(53, 150, 214, 0.50);
    color: #eee;
}

#room-settings .general-settings .option button {
    position: relative;
    float: left;
    width: 45%;
    border-radius: 20px;
    BORDER: 1px solid white;
    height: 39px;
    background: rgba(93, 28, 28, 0.30);
    color: #808691;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    cursor: default;
}

#room-settings .general-settings a, #room-settings .general-settings a:visited {
    display: none;

}

.dropdown dd {
    position: relative;
    display: none;
    background: rgba(0,0,0,0.30);
    max-height: 412px;
    overflow-x: hidden;
    overflow-y: auto;
}

#room-settings .general-settings .option.enabled>button.off {
    background: rgba(93, 28, 28, 0.30);
    color: #808691;
}
.dropdown dd .row:hover {
    background: rgba(47, 95, 127, 0.40);
    color: #eee;
}

.dropdown {
    position: relative;
    float: left;
    width: 300px;
    height: 39px;
    background: rgba(47, 95, 127, 0.40);
    font-size: 16px;
    cursor: pointer;
    z-index: 99;
}

#vote .crowd-response.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.social-menu .android-badge {
    display: none;
    width: 24px;
    height: 24px;
    background: url(https://cdn.plug.dj/_/static/images/icons/android.1943a51….png) no-repeat;
    background-size: 24px 24px;
}

#user-view {
    display: none;
    z-index: 500;
    background: rgba(0,0,0,0.90);
}

.social-menu .iphone-badge {
    width: 24px;
    display: none;
    height: 24px;
    background: url(https://cdn.plug.dj/_/static/images/icons/ios.09bc5cc….png) no-repeat;
    background-size: 24px 24px;
}

#chat .welcome {
    color: #2b7db5;
    BORDER: 1px dashed;
}

#chat .text a:visited {
    color: #dee1e2;
    text-decoration: none;
}

#chat .text a {
    color: #dee1e2;
    text-decoration: none;
}

#playback .background img {
    position: absolute;
    display: none;
    top: 0;
}

.votes-rs {
    height: 200px;
    width: 256px;
    margin-top: -200px;
    z-index: 100;
    background: rgba(0,0,0,0.60);
    position: absolute;
    border-bottom: 2px solid #2a78ac;
}

#vote .crowd-response {
    border-radius: 15px;
    position: relative;
    float: left;
    margin-right: 2px;
    width: 84px;
    border-radius: 10px 10px 0px 0px;
    height: 38px;
    background: rgba(0,0,0,0.50);
    text-align: center;
    cursor: pointer;
}

#meh {

    display: none;
}

#woot {
    background: transparent;
}

#woot .bottom {
    background: rgba(0,0,0,0.40);
    border-radius: 0px 0px 10px 10px;
}

#woot.crowd-response.selected, 
#woot.selected .bottom {
    margin-top: 1px;
    background: rgba(53, 214, 74, 0.5);
}


#grab {
    background: transparent;
}

#grab .bottom {
    background: rgba(0,0,0,0.40);
    border-radius: 0px 0px 10px 10px;
}

#grab.crowd-response.selected, 
#grab.selected .bottom {
    margin-top: 1px;
    background: rgba(251, 102, 218, 0.5)
}


#user-rollover {
    position: absolute;
    z-index: 60001;
    width: 300px;
    border-radius: 30px 30px 0px 0px;
    background: rgba(0,0,0,0.80);
    border: 2px solid;
    -webkit-box-shadow: 2px 2px 10px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 10px 0 rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,.5);
}

.thumb .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
}

#footer-user .buttons .button:hover {
    background: rgba(53, 150, 214, 0.50);
}

#footer {
    position: absolute;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 54px;
    background: rgba(53, 150, 214, 0.80);
    -webkit-box-shadow: inset 0 2px 0 -1px #0a0a0a;
    -moz-box-shadow: inset 0 2px 0 -1px #0a0a0a;
    box-shadow: inset 0 2px 0 -1px #0a0a0a;
}

#footer-user .info {
    position: absolute;
    top: -54px;
    left: 0;
    display: none;
    width: 345px;
    height: 54px;
    background: rgba(0,0,0, 0.75);
    border: 1px solid white;
}

#app-menu {
    z-index: 99!important;
    display: none;
}

.app-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 54px;
    background: rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    -moz-box-shadow: inset 0 -2px 0 -1px #0a0a0a;
    box-shadow: inset 0 -2px 0 -1px #0a0a0a;
}

#history-button {
    position: absolute;
    right: 0;
    width: 54px;
    height: 54px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

#rs-skip-button {
    position: absolute;
    display: none;
    right: 55px;
    width: 54px;
    background: transparent;
    height: 54px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

#playlist-panel {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    height: 54px;
    background: rgba(0,0,0,0.80);
}

#playlist-menu {
    position: absolute;
    top: 54px;
    left: 0;
    width: 256px;
    height: 300px;
    background: rgba(0,0,0,0.80);
}

#playlist-menu .menu .row.selected {
    background: rgba(53, 150, 214, 0.50);
    cursor: default;
}

#playlist-menu .menu .row:hover {
    background: rgba(6, 83, 134, 0.5);
}

#search {
    position: absolute;
    top: 0;
    left: 53px;
    overflow-x: hidden;
    width: 500px;
    height: 54px;
    background: rgba(0,0,0,0.80);
    -webkit-box-shadow: inset -2px 2px 0 -1px #0a0a0a;
    -moz-box-shadow: inset -2px 2px 0 -1px #0a0a0a;
    box-shadow: inset -2px 2px 0 -1px #0a0a0a;
}

.media-list .row.selected {
    background: rgba(53, 150, 214, 0.50);
}


.row.playlist-media-item:hover {
    background: rgba(6, 83, 134, 0.5);
}

#playlist-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 53px;
    height: 54px;
    -webkit-box-shadow: inset 0 2px 0 -1px #0a0a0a;
    background: black;
    -moz-box-shadow: inset 0 2px 0 -1px #0a0a0a;
    box-shadow: inset 0 2px 0 -1px #0a0a0a;
    cursor: pointer;
}

#user-rollover .info .role i {
    position: relative;
    float: left;
    margin-top: 2px;
    display: none;
}

.badge-box {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: transparent;
}

.social-menu {
    position: absolute;
    top: 0;
    width: 54px;
    height: 54px;
    display: none;
}

#chat .moderation {
    color: #b3b3b3;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: 2px dashed #1ca281;
}

#chat .moderation .from.staff:before {
    content: " O(A) Administrador(a) ";
    color: #b3b3b3
}

#chat-messages .from .icon {
    position: relative;
    top: 1px;
    display: none;
    z-index: 0;
    float: left;
    margin-right: 4px;
}

.role-host span.un.clickable:After {
    content: "( Desenvolvedor )";
    padding-left: 5px;
    color: #0aa9e8;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #0aa9e8;

}


.role-cohost span.un.clickable:After {
    content: "( Diretor(a) )";
    padding-left: 5px;
    color: #0aa9e8;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #0aa9e8;
}

#chat .from.you .un {
    color: white;
}

.role-manager span.un.clickable:After {
    content: " ( BOT ) ";
    padding-left: 5px;
    color: #BE2F13;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #BE2F13;
}


.role-bouncer span.un.clickable:After {
    content: " ( Moderador(a) ) ";
    padding-left: 5px;
    color: #007cff;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #007cd8;
}


.role-dj span.un.clickable:After {
    content: " ( Ajudante ) ";
    padding-left: 5px;
    color: #e05d1d;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #e05d1d;
}

#chat .moderation .badge-box {
    background: 0 0;
    display: none;
}

#chat-input {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 326px;
    border: 2px solid #1da281;
    border-radius: 20px;
    height: 30px;
    background: #282c35;
}

.is-staff .name {
    color: white;
}

#chat .mention.is-dj:nth-child(2n+1), #chat .mention.is-staff:nth-child(2n+1) {
    background: linear-gradient(135deg,#2a78ab 0,#111317 46%,transparent 100%);
}

#app-menu {
    z-index: 99!important;
    display: none;
}

#user-rollover .meta.online .status span {
    color: #0aad1c;
    font-weight: bold;
}

#user-rollover .meta.online .status i {
    border: 2px solid #0aad1c;
    background: #0aad1c;
}

#chat .from.staff, #chat .from.dj {
    color: #b3b3b3;
}

#chat .from.staff .un {
    color: #c3c3c3;
}

.right-meta {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.60);
    z-index: 30;
    width: 345px;
    height: 54px;
}

.header-panel-button.selected {
    border-right: none;
    background-color: transparent;
    cursor: default;
}

#chat .rsshit.context .msg .text {
    display: inline;
    margin-left: 5px;
    color: white;
}

.id-31229307 .role:before {
    font-size: 15px;
    content: " Beta Tester ";
    padding: 5px;
    font-weight: bold;;
    margin-left: 5px;
    border-radius: 25px;
    border: 1px solid #1ca07f;
}

.id-25738838 .role:before {
    font-size: 15px;
    content: " Beta Tester ";
    padding: 5px;
    font-weight: bold;;
    margin-left: 5px;
    border-radius: 25px;
    border: 1px solid #1ca07f;
}

#chat .user-action {
    color: white;
    text-align: center;
}

i.icon.icon-gift {
    display: none;
}

#chat .delete-button {
    position: absolute;
    top: 6px;
    right: 4px;
    border: 2px solid #1da281;
    z-index: 5;
    border-radius: 20px;
    display: none;
    padding: 10px 10px;
    background: rgba(0,0,0,0.90);
    font-size: 11px;
    cursor: -webkit-grab;
}

#chat .delete-button {
    position: absolute;
    top: 6px;
    right: 4px;
    border: 2px solid wheat;
    z-index: 5;
    border-radius: 20px;
    display: none;
    padding: 10px 10px;
    background: rgba(183, 10, 10, 0.3);
    font-size: 11px;
    cursor: -webkit-grab;
}

#user-rollover.role-cohost .username:after {
    content: "( Diretor(a) )";
    padding-left: 5px;
    font-size: 14px;
    color: #0aa9e8;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #0aa9e8;
}

#user-rollover.role-host .username:after {
    content: "( Desenvolvedor ) ";
    padding-left: 5px;
    font-size: 14px;
    color: #0aa9e8;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #0aa9e8;
}

#user-rollover.role-bouncer .username:after {
    content: "( Moderador(a) ) ";
    padding-left: 5px;
    color: #007cff;
    font-size: 14px;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #007cd8;
}

#user-rollover.role-dj .username:after {
    content: "( Ajudante ) ";
   font-size: 14px;
    padding-left: 5px;
    color: #e05d1d;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #e05d1d;

}

#user-rollover.role-manager .username:after {
    content: "( BOT ) ";
   font-size: 14px;
    padding-left: 5px;
    color: #BE2F13;
    background: transparent url(http://i.imgur.com/DeeiUkd.gif);
    text-shadow: 0px 0px 5px #BE2F13;

}

#user-menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 220px;
    width: 22%;
    height: 100%;
    background-color: rgb(12, 26, 47);
    background-image: url(https://i.imgur.com/sxm5VUu.png);
}

#user-menu .item.selected {
    background: #0aa9d6;
    cursor: default;
}

#user-menu .avatar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background: #535d80;
    background: -moz-linear-gradient(top,#535d80 0,#32324d 56%,#1a1a1a 73%,#73716d 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#535d80),color-stop(56%,#32324d),color-stop(73%,#1a1a1a),color-stop(100%,#73716d));
    background: -webkit-linear-gradient(top,#535d80 0,#32324d 56%,#1a1a1a 73%,#73716d 100%);
    background: -o-linear-gradient(top,#535d80 0,#32324d 56%,#1a1a1a 73%,#73716d 100%);
    background: -ms-linear-gradient(top,#535d80 0,#32324d 56%,#1a1a1a 73%,#73716d 100%);
    background: linear-gradient(to bottom,#26cdf4 0,#27d0f6 56%,#26d0f7 73%,#f1e16b 100%);
}

#user-settings .tab-menu button:first-child {
    background: linear-gradient(to bottom,#26d0f7 5%,#225db5 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
